* {
  list-style: none;
  text-decoration: none;
}

.success,
.error {
  color: #ffffff;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: #23a723;
}

.error {
  background: #eb3434;
}

.alert {
  font-size: 18px;
  display: block;
  position: absolute;
  margin-left: 50%;
  border-radius: 3px;
  padding: 13px 20px;
  transform: translateX(-50%);
}